body {
  font-size: 100%;
  max-width: 1000px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: rgba(247, 227, 202, 0.066);
  
}

.header{
  /* background-image: url('tab pictures/IMG-3735.png'); */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.779), transparent 1%), url("tab pictures/Website\ header.jpg");
  /* background-image: linear-gradient(white,rgba(0,0,0,)), url("tab pictures/image_6487327.JPG"); */
  background-repeat: no-repeat;
  background-size: cover;
  width: relative;
  position: relative;
  height: 250px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 10px -6px;
}   
.headerText{
position: relative;
top: 38%; 
left: 55%;
transform: translate(-50%, -50%);

}

h1 {
  font-size: 2.5em;
  font-family: 'Quattrocento';
}
#pageTitle {
  /* text-decoration: underline; */
  color: rgb(88, 15, 28);
  font-family: 'Quattrocento';
}

a {
  font-size: 1.2em;
  
}
p {
  font-size: 0.8em;
  
}
.instruction {
  margin-left: 4em;
}

/* new recipe form */
    /* title line */
    .titleEntry {
    margin-top: 5px;
    }
    /* recipe body box */
    #recipe{
        width: 100%;
    }
   #submit{
    margin-top: 5px;
    border-radius: 8px;
    border-width: none;
    border: none;   
    outline: none;
    border-color: rgba(160, 159, 159, 0.45);
    background-color: rgba(87, 38, 38, 0.1);      
    color: hsl(0, 0%, 3%); 
    padding: 6px;   
    font-size: .9em;
    font-weight: 600;
    font-family: 'Quattrocento';
   }
   #category{
    margin-top: 5px;
    border: none;
    border-width: none;
    outline: none;
    border-color: rgba(160, 159, 159, 0.45);
    background-color: rgba(247, 227, 202, 0.066); 
    color: hsl(0, 0%, 3%); 
    padding: 6px;
    padding-left: 0%;
    padding-top: 3px;
    font-size: .9em;
    font-weight: 600;
    font-family: 'Quattrocento';
   }
   #title{
    margin-top: 5px;
    border-radius: 8px;
    border-width: .01em;
    outline: none;
    border-color: rgba(160, 159, 159, 0.45);
    background-color: rgba(247, 227, 202, 0.066);   
    color: hsl(0, 0%, 3%); 
    padding: 6px;   
    font-size: .9em;
    font-weight: 600;
    font-family: 'Quattrocento';
   }
   #category:hover{
    text-decoration: underline;
   }
   #submit:hover{
    text-decoration: underline;
   }
      
/* table of contents div */
    /* content catagory style */
    /* #contents h2 styles all h2 within 'contents' div */
    #contents h2 {
    font-size: 1.4em;
    /* font-style: italic; */
    font-family: 'Quattrocento';
    }
    #contents h1 {
      /* text-decoration: underline; */
      font-style: italic; 
      font-size: 2em;

        
    }

    #contents ul {
        list-style: none;
        
    }
    a:link {
      text-decoration: none;
      color: rgb(17, 77, 156);
    }
    a:visited{
      text-decoration: none;
      color: rgb(17, 77, 156);

    }


/* new rec button */
#clickBtn {
    /* margin-top: 5px;
    border-radius: 8px;
    border-width: .04em;
    background-color: rgb(88, 15, 28);
    color: hsl(208, 100%, 97%); 
    padding: 6px; */
    margin-top: 5px;
    border-radius: 8px;
    border-width: none;
    outline: none;
    border: none;
    
    background-color: rgba(87, 38, 38, 0.1);  
    color: hsl(0, 0%, 3%); 
    padding: 6px;
    font-size: .9em;
    
    font-weight: 600;
    font-family: 'Quattrocento';
}
#clickBtn:hover{
  text-decoration: underline;
}
/* recipes div */
    /* recipe catagory style*/
    #recipes h2 {
    font-size: 1.8em;
   
    /* font-style: italic;  */
    font-family: 'Quattrocento';
    }
    #recipes h1 {
      text-decoration: underline;
      margin-left: 43%;
      font-family: 'Quattrocento';
      
    }
    h3 {
      margin-left: 2em;
    }



    /* recipe body format */
    pre{
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        max-width: 1000px;
        margin-left: 4em;
    }

/* to top button */
#toTopBtn {
  background-color: rgb(135, 43, 158);
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: rgb(252, 253, 254);
  border-color: rgb(135, 43, 158);
  border-radius: 8px;}
  .footer{
    /* */
    background-image:  url("tab\ pictures/HeaderImage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: relative;
    position: relative;
    height: 140px;
  }


