body {
  font-size: 100%;
  max-width: 1000px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  
}
h1 {
  font-size: 2.5em;
  font-family: 'Quattrocento';
}
#pageTitle {
  /* text-decoration: underline; */
  color: rgb(88, 15, 28);
  font-family: 'Quattrocento';
}

a {
  font-size: 1.2em;
  
}
p {
  font-size: 0.8em;
  
}
.instruction {
  margin-left: 4em;
}

/* new recipe form */
    /* title line */
    .titleEntry {
    margin-top: 5px;
    }
    /* recipe body box */
    #recipe{
        width: 100%;
    }
      
/* table of contents div */
    /* content catagory style */
    /* #contents h2 styles all h2 within 'contents' div */
    #contents h2 {
    font-size: 1.4em;
    /* font-style: italic; */
    font-family: 'Quattrocento';
    }
    #contents h1 {
      /* text-decoration: underline; */
      font-style: italic; 
      font-size: 2em;

        
    }

    #contents ul {
        list-style: none;
        
    }
    a:link {
      text-decoration: none;
      color: rgb(17, 77, 156);
    }
    a:visited{
      text-decoration: none;
      color: rgb(17, 77, 156);

    }


/* new rec button */
#clickBtn {
    margin-top: 5px;
}
/* recipes div */
    /* recipe catagory style*/
    #recipes h2 {
    font-size: 1.8em;
   
    /* font-style: italic;  */
    font-family: 'Quattrocento';
    }
    #recipes h1 {
      text-decoration: underline;
      font-style: italic;
      margin-left: 43%;
      font-family: 'Quattrocento';
      
    }
    h3 {
      margin-left: 2em;
    }



    /* recipe body format */
    pre{
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        max-width: 1000px;
        margin-left: 4em;
    }

/* to top button */
#toTopBtn {
  background-color: rgb(135, 43, 158);
  position: fixed;
  bottom: 20px;
  right: 20px;

}


